.login form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
body {
    background-image: url(Background.jpg);
    background-position: 0 0; /* Starting position of the background */
    background-repeat: repeat; /* Repeat the image to avoid gaps */
    background-size: 150%; /* Scale the image to ensure overlap */
    background-attachment: fixed; /* Keeps background fixed during scrolling */
    animation: diagonalMove 10s linear infinite; /* Continuous smooth diagonal animation */
}

@keyframes diagonalMove {
    from {
        background-position: 0 0; /* Start animation */
    }
    to {
        background-position: 100% 100%; /* End at the diagonal edge */
    }
}

.login form input{
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 2px;
}

.login{
    background-color: khaki;
    padding: 10px 150px 10px 150px;
    border-radius: 5px;
    margin-top: 30px;
    box-shadow: 0px 2px 50px 2px gray;
}