body {
    background-image: url(Background.jpg);
    background-position: 0 0; /* Start position of the background */
    background-repeat: repeat; /* Ensure the background repeats infinitely */
    background-size: auto; /* Keep the original size of the background image */
    background-attachment: fixed; /* Keeps the background fixed while scrolling */
    animation: diagonalMove 20s linear infinite; /* Smooth diagonal animation */
}

@keyframes diagonalMove {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 400px 400px; /* Diagonal movement */
    }
}
.signin form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signin form input{
    padding: 10px;
    width: 60%;
    border: none;
    border-radius: 2px;
}

.signin{
    background-color: khaki;
    padding: 30px;
    border-radius: 5px;
    margin-top: 30px;
    box-shadow: 0px 2px 50px 2px gray;
}
